#mainContent {
    height:fit-content;
    background-image:url("../images/crossline-lines.png");
    padding-top:20px;
    border-bottom: solid 4px #4aaaa5;
}

#selfPortrait {
    width: 250px;
    height: 200px;
    float:left;
    margin-right:15px;
}

.jumbotron, .bg-light {
    background-color:#ffffff!important;
}

.jumboHeader, span.navbar-brand.mb-0.h1 {
    color: #4aaaa5;
}

.card {
    margin-bottom:20px;
}

div.card-body {
    padding:0.4rem;
    text-align:center;
    background-color:#4aaaa5;
}

h5.card-title {
    margin-top:0.25rem;
    margin-bottom:0.25rem;
    color: #ffffff;
}

#submitButton {
    background-color:#4aaaa5;
    border-color:#4aaaa5;
}

.container-fluid {
    background-color:#777777;
    height:150px;
    text-align:center;
}

.container-fluid p {
    padding-top:15px;
    color: #ffffff;
}

.push {
    height:100px;
}